ol.admin-help-list { max-width: 200px; padding: 0 0 0 20px; list-style-type: decimal; counter-reset: section; }
ol.admin-help-list > li { margin: 10px 0; font-size: 16px; counter-increment: section; }
ol.admin-help-list > li ol { list-style-type: lower-alpha; margin-top: 5px; counter-reset: item; }
ol.admin-help-list > li ol > li { font-size: 14px; margin: 5px 0 5px 10px; }
ol.admin-help-list > li ol > li:before { content: counters(item) " "; counter-increment: item; }
.cms-panel.west ol.admin-help-list li .summary { display: none; }
ol.admin-help-list li .summary p { font-size: 12px; }
ol.admin-help-list li a.current { color: #000; }

.admin-help-right-button { float: right; }

#admin-help-controller-cms-content .cms-edit-form { overflow: scroll; }
