ol.admin-help-list { max-width: 200px; padding: 0 0 0 20px; list-style-type: decimal; counter-reset: section; }
ol.admin-help-list > li { margin: 10px 0; font-size: 16px; counter-increment: section; }
ol.admin-help-list > li ol { list-style-type: lower-alpha; margin-top: 5px; counter-reset: item; }
ol.admin-help-list > li ol > li { font-size: 14px; margin: 5px 0 5px 10px; }
ol.admin-help-list > li ol > li:before { content: counters(item) " "; counter-increment: item; }
.cms-panel.west ol.admin-help-list li .summary { display: none; }
ol.admin-help-list li .summary p { font-size: 12px; }
ol.admin-help-list li a.current { color: #000; }

.admin-help-right-button { float: right; }

#admin-help-controller-cms-content .cms-edit-form { overflow: scroll; }

.admin-help-typography h1 { font-size: 28px; font-weight: bold; margin: 0 0 20px; }
.admin-help-typography h2 { font-size: 25px; font-weight: normal; margin: 0 0 20px; }
.admin-help-typography h3 { font-size: 22px; font-weight: normal; margin: 0 0 20px; }
.admin-help-typography h4 { font-size: 18px; font-weight: normal; margin: 0 0 20px; }
.admin-help-typography h5 { font-size: 15px; font-weight: normal; margin: 0 0 20px; }
.admin-help-typography p { font-size: 15px; line-height: 1.7; margin: 0 0 16px; }
.admin-help-typography p + h1, .admin-help-typography p + h2, .admin-help-typography p + h3, .admin-help-typography p + h4, .admin-help-typography p + h5 { margin-top: 30px; }
.admin-help-typography ul, .admin-help-typography ol { font-size: 15px; line-height: 1.8; margin: 20px 0 20px 20px; }
.admin-help-typography ul + h1, .admin-help-typography ul + h2, .admin-help-typography ul + h3, .admin-help-typography ul + h4, .admin-help-typography ul + h5, .admin-help-typography ol + h1, .admin-help-typography ol + h2, .admin-help-typography ol + h3, .admin-help-typography ol + h4, .admin-help-typography ol + h5 { margin-top: 30px; }
.admin-help-typography ul { list-style-type: disc; }
.admin-help-typography ol { list-style-type: decimal; }

.admin-help-field img { height: 20px; width: auto; vertical-align: text-bottom; margin-left: 10px; }
.admin-help-field .admin-help-field-content { background: #fff; padding: 20px 20px 10px; margin-top: 20px; border: 1px solid #ccc; border-radius: 5px; }
